*
  font-family: sans-serif
  color:  #1E1C06
  box-sizing: border-box

h1 
  text-align: center
    
body 
  background-color: #E1DC9F

div 
  margin: 20px auto
  width: min(800px, 90%)
input
  padding: 10px 20px
  border-radius: 5px
  border: none
  width: 100%

label
  display: block
  margin: 10px 0

button 
  padding: 10px 20px
  background-color: #998768;
  border: none
  border-radius: 5px
  width: max(220px, 100%)
  margin: 20px auto
